.booking-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #414141;
  color: #faf9f6;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.booking-container h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.booking-form fieldset {
  border: none;
  margin-bottom: 20px;
}

.booking-form legend {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.checkbox-group label {
  font-size: 1rem;
}

.date-picker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-form input[type="text"], .booking-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  height: 80px;
  resize: none;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #5c89c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #476ea5;
}
